
# macOS stuff
.DS_Store

# python stuff
__pycache__/
*.py[cod]
lab_tools.egg-info/

# Jupyter stuff
.ipynb_checkpoints/

# data files
*.h5
!examples/data/run530_5waveforms.h5
*.root
*.npy
*.npz

# specific files 
Test.ipynb
